/* This file resets some common CSS properties
 * so that we can get a consistent look between
 * different browsers
 */

/* Remove default margins */
* {
  margin: 0;
}

html {
  background-color: #9bff5c;
  /* Setup rem units (1rem = 10px) */
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  height: 100dvh;
  padding: 0;
  overflow: hidden;
}

@media (display-mode: standalone) {
  html,
  body {
    height: 100vh;
  }
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Use a sensible box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Don't underline Links */
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Better media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
[role="button"] {
  cursor: pointer;
}
a {
  touch-action: manipulation;
}

ul {
  all: unset;
}
