.container {
  postion: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  height: 100%;
  /* https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    max(3.2rem, env(safe-area-inset-bottom)) env(safe-area-inset-left);
  backdrop-filter: brightness(0.7);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  overflow: auto;

  > section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80ch;
    backface-visibility: hidden;
  }
}
