.link {
  --fg-alpha: 0.75;
  --bd-color: transparent;

  all: unset;
  position: absolute;
  top: calc(env(safe-area-inset-top) + 2.4rem);
  right: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--bd-color);
  border-radius: 0.8rem;
  color: rgba(244, 244, 245, var(--fg-alpha));
  cursor: pointer;

  &:hover,
  &:focus {
    --fg-alpha: 1;
    --bd-color: rgba(255, 255, 255, 0.6);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
