.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80ch;
  margin: 0;
  padding: 0;
  padding-inline: 2.4rem;
  height: fit-content;
}

.figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  height: fit-content;
  padding-top: 6.4rem;
  padding-bottom: 3.2rem;
  filter: brightness(10) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));

  div {
    display: block;
    width: 250px;
    color: hsla(0, 0%, 100%, 0.9);
  }

  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    height: fit-content;

    h1 {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
      color: hsla(0, 0%, 100%, 0.9);
      font-size: 2.4rem;
      font-weight: 600;
      letter-spacing: calc((7 / 100) * 1em);
    }

    h2 {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
      color: hsla(0, 0%, 100%, 0.69);
      font-size: 2.4em;
      font-weight: 300;
      letter-spacing: calc((10 / 100) * 1em);
    }
  }
}
